body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login h2{
    text-align: center;
    margin-bottom: 55vh;
    margin-right: -68vh;
    font-size:40px;
    margin-top: -10px;
    color: #2E3192;
    text-shadow:  3px 2px 1px rgb(211, 211, 211);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.login-box {
    background-color: #2E3192;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 400px;
    height: 35vh;
    line-height: 60px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 380px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 16px;
    height: 4vh;
}

.input-group button {
    width: 120px;
    margin-left: 140px;
    padding: 10px;
    background-color: #fff;
    color: #2E3192;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    height: 6vh;
}

.input-group button:hover {
    background-color: #ddd;
}

.logo {
    text-align: center;
}

.logo img {
    width: 50%;
    margin-bottom: 10px;
}

.logo h1 {
    color: #3a3ebf;
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .login-box {
        width: 30vh;
        margin-left: 100px;
    }

    .container {
        margin-left: -30vh;
        margin-top: 100px;
    }

    .input-group input {
        width: 27vh;
        border-radius: 10px;
    }

    .input-group button {
        width: 15vh;
        margin-left: -2vh;
        border-radius: 10px;
        margin-left: 54px;
        height: 40px;
    }

    .logo img {
        width: 15vh;
        margin-top: -200px;
        margin-bottom: 35vh;
        margin-left: -37vh;
    }

    .login h2 {
        font-size: 0px;
        margin-left: -100vh;
    }
}