body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login h2 {
    text-align: center;
    margin-bottom: 55vh;
    margin-right: -68vh;
    font-size: 40px;
    margin-top: -10px;
    color: #2E3192;
    text-shadow: 3px 2px 1px rgb(211, 211, 211);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}


.login-box {
    background-color: #2E3192;
    padding: 30px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 400px;
    height: 50vh;
    line-height: 30px;
    text-align: center;
    display: flex;
    /* Add display flex */
    flex-direction: column;
    /* Set flex direction to column */
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center; /* Pusatkan item secara horizontal */
}

.input-group input {
    width: 380px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 16px;
    height: auto;
}

.input-group button {
    width: 120px;
    padding: 10px;
    background-color: #fff;
    color: #2E3192;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    height: auto;
}

.input-group button:hover {
    background-color: #ddd;
}

.logo {
    text-align: center;
}

.logo img {
    width: 50%;
    margin-bottom: 10px;
}

.logo h1 {
    color: #3a3ebf;
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
}

/* Untuk layar yang lebih kecil dari 768px */
/* Untuk layar yang lebih kecil dari 768px */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .login-box {
        width: 90%; /* Mengurangi lebar kotak login */
        margin: 20px 0;
        padding: 20px;
        height: auto;
        line-height: normal;
    }

    .input-group input,
    .input-group button {
        width: 100%; /* Mengisi lebar */
        max-width: none;
        margin-top: 5px; /* Menambahkan margin atas */
        font-size: 14px; /* Mengurangi ukuran font */
    }

    .input-group button {
        margin: 10px 0;
    }

    .logo {
        margin-bottom: 20px;
    }

    .login h2 {
        font-size: 28px; /* Mengurangi ukuran font */
    }
}


/* Untuk layar antara 768px dan 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 90%;
    }

    .login-box {
        width: 80%;
        height: auto;
    }
}

/* Untuk layar yang lebih besar dari atau sama dengan 1024px */
@media (min-width: 1024px) {
    .container {
        width: 70%;
    }

    .login-box {
        width: 400px;
        height: auto;
    }
}